<footer class="footer-container">
    <div class="footer-layout">
          <div class="footer-column footer-about">
            <img src="../assets/img/sc.png" alt="logo" class="footer-logo"> 
            <p class="footer-description">
              ScriptCash - your daily guide in the world of finance. Fresh news, market data, and analytics for making informed decisions.
            </p>
            <p class="footer-copyright">
              © {{ currentYear }} {{app}}. All Rights Reserved. </p>
          </div>
      
          <div class="footer-column footer-links">
            <h4>Navigation</h4>
            <ul>
              <li><a routerLink="/news">News</a></li>
              <li><a routerLink="/market">Market</a></li>
              <li><a routerLink="/utils">Utils</a></li>
              </ul>
          </div>
      
          <div class="footer-column footer-links">
            <h4>Resources</h4>
            <ul>
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/contact">Contact</a></li>
              <li><a routerLink="/privacy">Privacy Policy</a></li>
              <li><a routerLink="/terms">Terms of Service</a></li>
            </ul>
          </div>
          <div class="footer-column footer-designer"> 
            <p class="designer-text">Designed by <a class="designer-text-author">Danil</a></p>
            <div class="contact-icons"> 
              <a href="https://t.me/py6275" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
                <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                   <path d="M11.944 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0a12 12 0 0 0-.056 0zm4.962 7.224c.1-.002.321.023.465.14a.506.506 0 0 1 .171.325c.016.093.036.306.02.472-.18 1.898-.962 6.502-1.36 8.627-.17.91-.497 1.21-.822 1.23-.696.04-1.22-.43-1.864-.891-1.002-.725-1.58-1.167-2.472-1.734-1.056-.666-1.87-1.11-.68-1.771.38-.204 6.79-6.153 6.8-6.153a.24.24 0 0 0-.056-.21c-.05-.04-.12-.03-.18-.01L7.05 13.365c-.9.344-1.56.535-2.09.523-.56-.015-.97-.14-1.25-.261-.36-.158-.58-.327-.58-.708.003-.44.24-.677.68-.91l16.17-5.687z"/> <!-- Example Telegram Path -->
                </svg>
              </a>
            </div>
          </div>
    </div>
</footer>